# Learn more about configuring your app at https://shopify.dev/docs/apps/tools/cli/configuration

client_id = "b8ea0c427021583b002d49d93e72e858"
name = "Kean PreOrder Pro"
application_url = "https://preorder.orbrother.com"
embedded = true

[webhooks]
api_version = "2025-04"

[access_scopes]
# Learn more at https://shopify.dev/docs/apps/tools/cli/configuration#access_scopes
scopes = "read_customers,read_draft_orders,read_inventory,read_orders,read_products,read_themes,write_customers,write_draft_orders,write_inventory,write_orders,write_products,write_themes"
optional_scopes = [ ]
use_legacy_install_flow = false

[auth]
redirect_urls = [
  "https://preorder.orbrother.com/api/auth/callback",
  "https://preorder.orbrother.com/api/billing/activate-subscription"
]
